*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
ul {
	list-style-type: none;
}

#sidebar-todolists {
	& div {
		display: flex;
		gap: 5px;
	}
}

body {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.todo-list > div > div {
	display: flex;
	gap: 5px;
}

.show-collapsible-info {
	cursor: pointer;
}

.active,
.show-collapsible-info:hover {
	background-color: gray;
}

.collapsible-info {
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
