*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
ul {
	list-style-type: none;
}

#sidebar-todolists {
	& div {
		display: flex;
		gap: 5px;
	}
}

body {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.todo-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	& > div {
		display: grid;
		grid-template-columns: 20px 1fr;
		grid-template-rows: auto auto;
		column-gap: 8px;
	}

	& .todo-check {
		grid-column: 1;
		grid-row: 1;
		place-self: center;
	}

	& .edit-icon {
		visibility: hidden;
		place-self: center;
		margin-left: 10px;
		grid-column: 2;
		grid-row: 1;
	}

	& .top-row {
		display: flex;
		align-items: center;
		width: fit-content;
	}

	& .top-row:hover,
	.top-row.active {
		background-color: gray;
		& .edit-icon {
			visibility: visible;
		}
	}

	& .active + .edit-icon {
		visibility: visible;
	}

	& > div > .show-collapsible-info {
		cursor: pointer;
		grid-column: 2;
		grid-row: 1;
	}

	& .due-date {
		grid-column: 2;
		grid-row: 2;
	}

	& .collapsible-info {
		grid-column: 2;
		grid-row: 3;
		visibility: hidden;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
}
