*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
ul {
	list-style-type: none;
}

body {
	display: grid;
	grid-template-columns: 1fr 4fr;
	background-color: black;
	color: #eee5e9;
}

img {
	filter: invert(54%) sepia(77%) saturate(3057%) hue-rotate(339deg)
		brightness(86%) contrast(88%);
}

#sidebar {
	display: flex;
	flex-direction: column;

	& #new-todoitem-button {
		margin-bottom: 15px;
	}

	& #new-todolist-button {
		margin-top: 15px;
	}
}

#sidebar-todolists {
	& div {
		display: flex;
		gap: 5px;
		width: fit-content;
	}
	& div:hover {
		background-color: #3a3838;
		cursor: pointer;
	}
	& div:active {
		transform: translateY(1px);
		background-color: #2b2a2a;
	}
}

h1,
h2 {
	color: #efc88b;
}

.todo-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	& > div {
		display: grid;
		grid-template-columns: 20px 1fr;
		grid-template-rows: auto auto;
		column-gap: 8px;
	}

	& .todo-check {
		grid-column: 1;
		grid-row: 1;
		place-self: center;
	}

	& .edit-icon {
		visibility: hidden;
		place-self: center;
		margin-left: 10px;
		grid-column: 2;
		grid-row: 1;
	}

	& .top-row {
		display: flex;
		align-items: center;
		width: fit-content;
	}

	& .top-row:hover,
	.top-row.active {
		background-color: #3a3838;
		cursor: pointer;
		& .edit-icon {
			visibility: visible;
		}
	}

	& .active + .edit-icon {
		visibility: visible;
	}

	& > div > .show-collapsible-info {
		cursor: pointer;
		grid-column: 2;
		grid-row: 1;
	}

	& .due-date {
		grid-column: 2;
		grid-row: 2;
	}

	& .collapsible-info {
		grid-column: 2;
		grid-row: 3;
		visibility: hidden;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}

	& h2 {
		color: #cf5c36;
	}
}

button {
	border: none;
	border-radius: 10px;
	text-align: center;
	padding: 10px 20px;
	font-size: 16px;
	display: flex;
	gap: 5px;
	background-color: inherit;
	color: #cf5c36;
	width: fit-content;
}

button:hover {
	background-color: #3a3838;
	cursor: pointer;
}

button:active {
	transform: translateY(1px);
	background-color: #2b2a2a;
}

button[type="submit"] {
	padding: 5px;
}

dialog {
	background-color: black;
	color: white;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;

	& .buttons {
		display: flex;
		justify-content: center;
		flex-direction: row;
		gap: 10px;
	}

	& > div {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	& input {
		outline: none;
		background-color: black;
		border: 2px solid #7c7c7c;
		border-radius: 5px;
		width: 235px;
		color: white;
	}

	& label {
		color: #efc88b;
	}

	& select {
		background-color: black;
		border: 2px solid #7c7c7c;
		color: white;
		border-radius: 5px;
	}

	& input:focus,
	input:focus-visible,
	select:focus,
	select:focus-visible {
		border: 2px solid #efc88b;
	}

	& option[value="Urgent"] {
		color: rgb(255, 0, 0);
	}
	& option[value="Important"] {
		color: yellow;
	}
	& option[value="Low Priority"] {
		color: mediumslateblue;
	}
	& ::-webkit-calendar-picker-indicator {
		filter: invert(89%) sepia(99%) saturate(4657%) hue-rotate(303deg)
			brightness(113%) contrast(87%);
	}
}
